<html>
    <body>
		<h1> Carrito de compra: {{shopping_cart_products.0.shopping_cart}} </h1>
            
            {% for scp in shopping_cart_products %}
            
                <h2> {{ scp.product.product_super }} </h2>
                
                <p>
                    $ {{ scp.product.price }} x {{ scp.quantity }}
                </p>
                <p>
                    subtotal = $ {% widthratio scp.quantity 1 scp.product.price %}
                </p>
                <p>
                    <img src={{ scp.product.product_super.image.url }} height="42">
                </p>
                <p>
                <a href="/shopping-cart-remove/{{ scp.id }}/{{ scp.shopping_cart.id }}"> Quitar </a>
            </p>
                {% empty %}
                
                <li>Tu carrito de compra está vacio</li>
            {% endfor %}
            <h2> 
                Total: $ {{ total }}
            </h2>
            <p>
                <a href="#"> Pagar </a> <a href="/shopping-cart-cancel/"> Cancelar </a>
            </p>
    </body>
</html>