<html>
	<head>
        <title>Mi perfil</title>
        {% load staticfiles %}
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/myCss.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
	</head>
	<body>

  <!-- Barra de menu -->
        <div class="navbar-custom ">
            <div class="container">
                <div class="navbar-header visible-lg visible-md">
                    <a href="/branches/1"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a>
                </div>
                <div class="icon-menu">  <!-- Opcion de menu para moviles -->
                    <ul class="pull-left visible-xs visible-sm">
                        <li><a href="#">Menu <span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                    </ul>
                </div>
                <ul class="pull-right visible-xs visible sm">
                    <a href="/branches/1"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a>
                </ul>
                <ul class="pull-right visible-lg visible-md"> <!-- Opcion de menu para desktop -->
                    <li style="color: #fff; margin-top:20;">Bienvenido {{ user }}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" ><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="/my-profile/"><span class="glyphicon glyphicon-user"></span>Mi cuenta</a></li>
                            <li><a href="/shopping-cart/1"><span class="glyphicon glyphicon-shopping-cart"></span> Mi carrito</a></li>
                            <li><a href="/orders/"><span class="glyphicon glyphicon-cutlery"></span> Mis pedidos</a></li>
                            <li><a href="/logout/"><span  class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
                        </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Termina barra de menu -->


        <!--Contenido de la página -->
        <div class="row well text-center" style="background-color: #7FC7AF; border: 1px solid #7FC7AF;">
            <div class="col-md-12">                
                <h1 style="color: #fff;"> Usuario: {{ customer.user }} </h1>
            </div>
        </div>






        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" style="background-color: #FFFCC4;">
                        <h2>Nombre Actual: {{ customer.nombre }} </h2>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                                {% if avatar %}
                                        <img src={{ customer.avatar.url }} style="max-width:200px;" />                  
                                {% endif %}
                        </div>    
                        <div class="thumbnail" align="center">
                            <h4> {% csrf_token %} </h4>
                            <h4>{{formulario.as_p}}</h4>
                            
                                    
                        </div>
                        <form action="" method="post" class="text-center visible-lg visible-md" enctype="multipart/form-data">
                        <input type="submit" value="Aceptar" class="btn btn-info " align="center" style="color: #fff;" />
                        </form>
                         <form action="" method="post" class="text-center visible-xs visible-sm" enctype="multipart/form-data">
                        <input type="submit" value="Aceptar" class="btn btn-info btn-block " align="center" style="color: #fff;" />
                        </form>
                     </div>
                </div>
            </div>
        </div>

		
	</body>
</html>