<html>
	<head>
	</head>
	<body>

        <!-- Barra de menu -->
        <div class="navbar-custom ">
            <div class="container">
                <div class="navbar-header visible-lg visible-md">
                    <a href="/branches/1"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a>
                </div>
                <div class="icon-menu">  <!-- Opcion de menu para moviles -->
                    <ul class="pull-left visible-xs visible-sm">
                        <li><a href="#">Menu <span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                    </ul>
                </div>
                <ul class="pull-right visible-xs visible sm">
                    <a href="#"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a>
                </ul>
                <ul class="pull-right visible-lg visible-md"> <!-- Opcion de menu para desktop -->
                    <li style="color: #fff; margin-top:20;">Bienvenido {{ user }}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" ><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="/my-profile/"><span class="glyphicon glyphicon-user"></span>Mi cuenta</a></li>
                            <li><a href="/shopping-cart/"><span class="glyphicon glyphicon-shopping-cart"></span> Mi carrito</a></li>
                            <li><a href="/orders/"><span class="glyphicon glyphicon-cutlery"></span> Mis pedidos</a></li>
                            <li><a href="/logout/"><span  class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
                        </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Termina barra de menu -->




		<h1>
			{{ customer.user }}
		</h1>
		<h2>
			{{ customer.nombre }}
		</h2>
		<img src={{ customer.avatar.url }} />
		<form action="" method="post" class="text-center" enctype="multipart/form-data">
			{% csrf_token %}
			{{formulario.as_p}}
			<input type="submit" value="Aceptar" class="btn btn-info pull-left" style="color: #fff;" />
		</form>



		
	</body>
</html>