<html>
    <body>
        <h1> {{ products_in_branch.0.branch.restaurant }} </h1>
        {% for p_in_b in products_in_branch %}
            <h2> {{ p_in_b.product.product_super }} </h2>
            <img src={{ p_in_b.product.product_super.image.url }} height="42">
            <p>
                <a href="/products/{{p_in_b.product.id}}"> Ver detalle </a>
            </p>
            {% empty %}
            <p>
                No articles yet.                
            </p>
        {% endfor %}
    </body>
</html>