<html>
	<head>
		<title>Detalles de orden</title>
		<!-- todos estos links y scripts van en todos los html -->
        {% load staticfiles %}
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/myCss.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
	</head>

    <body>
        <!-- Menu para moviles -->  
        <div class="menu">   
            <div class="icon-close">
                <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
            </div>

        <!-- Menu -->
            <ul>
                <li class="text-center">
                    {% if avatar %}
                        <img src="{{ avatar }}" class="img-circle" height="65" width="65" alt="Avatar">
                    {% endif %}
                    <p>{{ user }}</p>
                </li>
                <li><a href="/branches/1"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/my-profile/"><span class="glyphicon glyphicon-user"></span> Mi cuenta</a></li>
                <li><a href="/shopping-cart/1"><span class="glyphicon glyphicon-shopping-cart"></span> Mi carrito</a></li>
                <li><a href="/orders/"><span class="glyphicon glyphicon-cutlery"></span> Mis pedidos</a></li>
                <li><a href="/logout/"><span  class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
            </ul>
        </div>
        <!-- Termina menu para moviles -->

        <!-- Barra de menu -->
        <div class="navbar-custom ">
            <div class="container">
                <div class="navbar-header visible-lg visible-md">
                    <a href="/branches/1"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a> 
                </div>
                <div class="icon-menu">  <!-- Opcion de menu para moviles -->
                    <ul class="pull-left visible-xs visible-sm">
                        <li><a href="#">Menu <span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                    </ul>
                </div>
                <!--
                <ul class="pull-right visible-xs visible sm">
                    <a href="/branches/1"><img src="{% static 'img/logo-white.png' %}" style="max-width:100px;"></a>
                </ul>
            -->
                <ul class="pull-right visible-lg visible-md"> <!-- Opcion de menu para desktop -->
                    <li style="color: #fff; margin-top:20;">Bienvenido {{ user }}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" ><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="/my-profile/"><span class="glyphicon glyphicon-user"></span>Mi cuenta</a></li>
                            <li><a href="/shopping-cart/1"><span class="glyphicon glyphicon-shopping-cart"></span> Mi carrito</a></li>
                            <li><a href="/orders/"><span class="glyphicon glyphicon-cutlery"></span> Mis pedidos</a></li>
                            <li><a href="/logout/"><span  class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
                        </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Termina barra de menu -->
  
        <!-- Contenido de la página -->
        <div class="row well text-center" style="background-color: #7FC7AF; border: 1px solid #7FC7AF">
            <div class="col-md-12">
				<h1 style="color: #fff;"> Detalles de orden </h1>
			</div>
		</div>

		<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" style="background-color: #FFFCC4;">
						<h2> No. de Orden: {{ order.id }} </h2>
					</div>
          
         				<div class="panel-body">
						<form action="" method="post" class="text-center">
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                
                            <tr>
                                <th >Fecha de orden:</th>
                                <th>{{ order.payment_date_time }}</th>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <th> {{ order.total }}</th>
                            </tr>
                            {% for product in products %}
                            <tr>
                                <th>Detalles:</th>
                                <th>{{ product }}</th>
                            </tr>
                            {% endfor %}
                            </table>
                            <p class="visible-lg visible-md">  
                            <a href="/orders/" class="btn btn-info" style="color:#fff;">Regresar</a>
                            </p>
                            <a href="/orders/" class="btn btn-info btn-block visible-xs visible-sm" style="color:#fff;">Regresar</a>
						</form>
					</div>
         
                </div>
            </div>
        </div>  

    	
    </body>
</html>