.navbar{
	background-color: #F05959;
	height: 35px;

}
.navbar a{
	color: #F8F1E9;
	font-size: 14px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 8px;
	text-transform: uppercase;
}

.navbar li{
	display: inline;
}

.navbar-custom {
  background-color: #e97f02;
  border-color: #c86d02;
  height: 10px;
}

.navbar-custom li{
	display: inline;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #c86d02;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #c66c02;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #c86d02;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #c86d02;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}
 .jumbotron {
	font-family: Tahoma, Geneva, sans-serif;
	height: 500px;
	background-image: url('http://wallcomphd.com/wp-content/uploads/2015/07/Blue-Black-Yellow-Red-Material-Design-Wallpaper-HD-For-Android.png');
}

.jumbotron h1{
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}

.jumbotron p{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.jumbotron .container{
	position: relative;
	top: 100px;
}

.panel-primary{
	border: 1px solid #0D6759;
}

.panel-primary .panel-heading{
	background-color: #0D6759;
}

.panel .panel-footer a{
	color: #fff;
}

.panel a{
	color: #00b0ff;
}

.restaurant-guides{
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb;
}

.restaurant-guides h2{
	color: #393c3d;
	font-size: 24px;
}

.restaurant-guides p{
	font-size: 15px;
	margin-bottom: 13px;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3{
	font-family: 'Shift',sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.learn-more a{
	color: #00b0ff;
}

.food{
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb;
}

